In [27]:
import os

# search_key = ["a"]
# my = ["a", "b", "c", "d"]
# basename_list = [direc for direc in my
#                 if (len(search_key) > 0 and direc in search_key) or len(search_key) == 0]
# basename_list

# for i in range(0,3):
#     writer = open("testingdummy.txt", 'a+')
#     writer.write("high\n")

directory = "YouTube"
if not directory.endswith("/"):
    directory = directory+"/"
os.path.basename(os.getcwd())

'TeamTrees2'

In [23]:
import pandas as pd
l = [[1,2,3], [3,4,5], [3,4,6]]
df = pd.DataFrame(data=l, columns=["test", "dd", "ee"])
df.empty
df.drop_duplicates(subset=['test', 'dd'], keep='last', inplace=True)
df

   test  dd  ee
0     1   2   3
2     3   4   6